h2 {
	color: white;
	background-color: yellow;
}
p.serif {
	font-family: "Times New Roman";
}

p.sansserif {
	font-family: Arial;
}

p.monospace{
	font-family: monospace;
}

p.small{
	font-size: small;
}

p.medium {
	font-size: medium;
}

p.large {
	font-size: large;
}

p.xlarge {
	font-size: x-large;
}

p.pixel {
	font-size: 30px;
}

p.italic {
	font-style: italic;
}

p.light {
	font-weight: lighter;
}

p.bold {
	font-weight: bold;
}

p.bolder{
	font-weight: bolder;
}

p.thin {
	font-weight: 100;
}

p.thick {
	font-weight: 700;
}

p.small{
	font-variant: small-caps;
}

p.normal {
	font-variant: normal;
}

p.green {
	color: green;
}

p.hexa{
	color: #bc42f4;
}

p.rgb {
	color: rgb(26, 199, 221)
}

p.left {
	text-align: left;
}

p.center {
	text-align: center;
}

p.right {
	text-align: right;
}

td.top{
	vertical-align: top;
}

td.middle{
	vertical-align: middle;
}

td.bottom{
	vertical-align: bottom;
}

p.none {
	text-decoration: none;
}

p.inherit{
	text-decoration: inherit;
}

p.overline{
	text-decoration: overline;
}

p.underline{
	text-decoration: underline;
}

p.line-throught{
	text-decoration: line-through;
}

#indent{
	text-indent: 60px;
}

h1{
	color: grey;
	font-size: 50px;
/* 
55px – the X-coordinate
67px – the Y-coordinate 
2px – the blur radius
blue – the color of the shadow*/
	text-shadow: 55px, 67px, 2px, blue;
}