h2 {
	color: white;
	background-color: yellow;
}
p.serif {
	font-family: "Times New Roman";
}

p.sansserif {
	font-family: Arial;
}

p.monospace{
	font-family: monospace;
}

p.small{
	font-size: small;
}

p.medium {
	font-size: medium;
}

p.large {
	font-size: large;
}

p.xlarge {
	font-size: x-large;
}

p.pixel {
	font-size: 30px;
}

p.italic {
	font-style: italic;
}

p.light {
	font-weight: lighter;
}

p.bold {
	font-weight: bold;
}

p.bolder{
	font-weight: bolder;
}

p.thin {
	font-weight: 100;
}

p.thick {
	font-weight: 700;
}

p.small{
	font-variant: small-caps;
}

p.normal {
	font-variant: normal;
}

p.green {
	color: green;
}

p.hexa{
	color: #bc42f4;
}

p.rgb {
	color: rgb(26, 199, 221)
}

p.left {
	text-align: left;
}

p.center {
	text-align: center;
}

p.right {
	text-align: right;
}

td.top{
	vertical-align: top;
}

td.middle{
	vertical-align: middle;
}

td.bottom{
	vertical-align: bottom;
}

p.none {
	text-decoration: none;
}

p.inherit{
	text-decoration: inherit;
}

p.overline{
	text-decoration: overline;
}

p.underline{
	text-decoration: underline;
}

p.line-throught{
	text-decoration: line-through;
}

#indent{
	text-indent: 60px;
}

h1{
	color: grey;
	font-size: 50px;
/* 
55px – the X-coordinate
67px – the Y-coordinate 
2px – the blur radius
blue – the color of the shadow*/
	text-shadow: 55px, 67px, 2px, blue;
}

p.capitalize {
	text-transform: capitalize;
}

p.lower{
	text-transform: lowercase;
}

p.upper{
	text-transform: uppercase;
}

p.positive{
	letter-spacing: 4px;
}

p.negative{
	letter-spacing:-1.5px;
}

p.wordpost{
	word-spacing: 4px;
}

p.wordnegative{
	word-spacing: -3px;
}

p.whitespace{
	white-space: nowrap;
}

p.pre {
   white-space: pre;
}
p.preline {
   white-space: pre-line;
}
p.prewrap {
   white-space: pre-wrap;
}

p.border{
	border: 5px solid green;
}

p.duapixel{
	padding: 10px;
	border-style: solid;
	border-width: 2px;
}

p.limapixel{
	padding: 10px;
	border-style: solid;
	border-width: 5px;
}

p.borderwidthigh{
	border: 5px solid green;
	width: 90px;
	height: 90px;
}

p.borderpersen{
	border: 5px solid green;
	width: 100%;
	height: 90px;
}

p.bordermaxmin{
	border: 5px solid green;
	min-height: 100px;
}

p.bchexadecimal{
	background-color: #C0C0C0;
}

p.bcrgb{
	background-color: rgb(135,206,235);
}

p.bcvalue{
	background-color: LightGreen;
	color: white;
}

body.bgimage{
	background-image: url("my profile.jpg");
}
